<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <extensions>
        <bindingExtensions>
          <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </bindingExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="JobBroker_BindingConfig" messageEncoding="Mtom"  />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://[YourService].cloudapp.net/StorageBroker.svc"
          binding="basicHttpBinding"
          contract="AzureStorageBroker.IStorageBroker"
        />
      <endpoint address="http://[YourService].cloudapp.net/JobBroker.svc"
          binding="basicHttpBinding"
          contract="AzureJobBroker.IJobBroker"
          bindingConfiguration="JobBroker_BindingConfig"
        />
    </client>
    <services>
      <service name="PhotoMosaic.NotificationService">
        <endpoint name="RelayEndpoint"
                  contract="PhotoMosaic.INotificationService"
                  binding="basicHttpRelayBinding"
                  />
      </service>
    </services>
  </system.serviceModel>
</configuration>