<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StorageManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <StorageManager.Properties.Settings>
      <setting name="AccountName" serializeAs="String">
        <value>[Azure Storage Account]</value>
      </setting>
      <setting name="AccountKey" serializeAs="String">
        <value>[Storage Account Key]</value>
      </setting>
      <setting name="FlickrAPIKey" serializeAs="String">
        <value>[Flickr API Key]</value>
      </setting>
    </StorageManager.Properties.Settings>
  </userSettings>
</configuration>