<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core"
             allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="[CacheNamespace].cache.windows.net" cachePort="22233" />
      </hosts>

      <securityProperties mode="Message">
        <messageSecurity
          authorizationInfo="[Cache Shared Secret]">
        </messageSecurity>
      </securityProperties>

      <localCache isEnabled="true" ttlValue="21600" objectCount="10000"/>
      
      <tracing sinkType="DiagnosticSink" traceLevel="Verbose"/>
    </dataCacheClient>
  </dataCacheClients>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>